#login{
			position: relative; top:4rem;
			width:17.5rem;
			height:22.5rem;
			border-radius: 1rem;
			color:white;
		}
		.loginBtn{
			display: block;
			margin:1rem auto;
			width:60%;
			height:2rem;
			line-height: 2rem;

		}
		#cancel{
			width:60% !important;
		}

